{% extends 'base.html.twig' %}

{% block title %} Ajout formation{% endblock %}

{% block body %}

    <div class="container-page">
    {% if app.user %}
        {% if edit %}
            <h1> Editer la formation </h1>
        {% else %}
            <h1> Ajouter une formation </h1>
        {% endif %}

        <div class="page-elements">
            {{ form_start(formAddFormation) }}
                {{ form_row(formAddFormation.intitule) }}
                {{ form_row(formAddFormation.submit) }}
            {{ form_end(formAddFormation) }}                
        </div>
    {% else %}
        <p>Merci de bien vouloir vous connecter pour accéder au contenu</p>
    {% endif %}
    </div>

{% endblock %}