{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}

    
    <h1>Liste des formations</h1>

    <table>
        <tr>
            <th>Formation</th>
            <th>Nombre de sessions</th>
        </tr>
        {% for formation in listeFormations %}   
            <tr>
                <td><a href="{{ path('show_formation', {'id': formation.id}) }}">{{ formation.intitule }}</a></td>
                <td>{{ formation.sessions | length }}</td>
            </tr>
        {% endfor %}            
    </table>




{% endblock %}