{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block body %}

    <div class="container-page">

        <h1>Liste des formations</h1>        

        <div class="page-elements">
            <p><a href="{{ path('add_formation') }}">Ajouter une Formation</a></p>

            <table>
                <tr>
                    <th>Formation</th>
                    <th>Nombre de sessions</th>
                </tr>
                {% for formation in listeFormations %}   
                    <tr>
                        <td><a href="{{ path('show_formation', {'id': formation.id}) }}">{{ formation.intitule }}</a></td>
                        <td>{{ formation.sessions | length }}</td>
                    </tr>
                {% endfor %}            
            </table>                    
        </div>
    </div>

{% endblock %}