<h1>Bonjour! Veuillez confirmer votre adresse mail !</h1>

<p>
    Bienvenue sur le site ProjetSessions !
    Veuillez confirmer votre adresse mail en cliquant sur le lien suivant :
    <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse mail</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt !
</p>
