                    /* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blanc: white;
    --noir: black;
    --jaune: rgb(209, 191, 121);
    --bleu: rgb(62, 121, 145);
    --grisTransparent: rgb(255, 255, 255, 0.2);
    --gris: gray;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

h1{
    text-align: center;
    padding: 15px 0px 15px 0px;
    text-shadow: 2px 1px 2px var(--noir);
}

h2{
    text-align: center;
    padding: 15px 0px 15px 0px;
    text-shadow: 1px 1px 1px var(--noir);
    font-size: 1.6rem;
}

h1,
h2{
    color: var(--blanc);
}

#hello{
    font-size: 1.2rem;
    font-style: italic;
    color: rgb(157, 157, 157);
    font-weight: bold;
}


                /*************TABLE************/

table{
    background-color: var(--gris);
    width: 80vw;
    min-height: 100px;
    color: white;
}

table th, table td{
    padding: 5px;
}

table th{
    height: 60px;
    font-style: italic;
}

table td{
    text-align: center;
    padding: 10px;
    min-height: 80px;
    font-size: 1.2rem;
}

table th{
    background-color: var(--noir);
    font-size: 1.2rem;
}

table tr:nth-child(even){
    background-color: rgb(71, 71, 71);
}

table tr:nth-child(odd){
    background-color: rgb(48, 48, 48);
}

table .complet{
    background-color: rgb(180, 6, 6);
}

table .ouvert{
    background-color: green;
}

            /*********** COMMON CLASSES ************/

.verifier-mail-page{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8vh;
    min-height: 100vh;
    background-color: var(--bleu);
}

.container-page{
    padding-top: 8vh;
    min-height: 100vh;
    background-color: var(--bleu);
}

.page-elements,
.table-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.page-elements{
    gap: 50px;
    min-height: 30vh;
    padding-bottom: 50px;
}

.formation-title{
    color: var(--blanc);
}

.add-link{
    /* color: rgb(207, 193, 161);     */
    color: var(--jaune);
    font-size: 1.3rem;
    font-style: italic;
}

.session-title{
    color: var(--blanc);
    font-size: 1rem;
    font-weight: bold;
    font-style: oblique;
}

table .intitule-link{
    color: var(--blanc);
}

.table-actions{
    gap: 25px;
    height: 100%;
}

.table-actions i,
table .action-link i{
    color: var(--jaune);
}

table .action-link{
    color: var(--bleu);
    text-shadow: 1px 1px 2px var(--noir);
}

.table-actions .action-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 50%;
    font-size: 1.2rem;
  }

.no-data{
    text-align: center;
}

.retour-link{
    text-align: center;
    color: var(--blanc);
    font-size: 1.4rem;
}

                            /* FORMS */

.formulaire{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid red; */
    min-height: 3vh;
    min-width: 30vw;
    padding: 10px;
    background-color: var(--grisTransparent);
    border-radius: 5px;
}

.formulaire-ext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    min-height: 30vh;
}

.form-element-ext{
    width: 70%;
}

.form-element-ext label,
.pass div .required{
    font-size: 1.5rem;
}

.form-element #registration_form_agreeTerms,
.form-element #registration_form_pseudo,
.form-element #registration_form_email,
.form-element #registration_form_plainPassword_first,
.form-element #registration_form_plainPassword_second,
.form-element-ext input{
  height: 30px;
}

.form-element-ext input{
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
}

.form-element-ext button{
    font-size: 1.2rem;
}

.form-element{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-element input{
    padding-left: 5px;
}

 .pass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form-element div{
    width: 200px;
    text-align: center;

}

.form-element div input{
    width: 100%;
    border-radius: 5px;    
    border: none;
    height: 1.2rem;
    padding-left: 5px;
}

.form-element button{
    padding: 5px;
    border-radius: 5px;
    border: none;
}

                    /* FLASH MESSAGES */

.alert-success{
    background-color: green;
    position: absolute;
    z-index: 2;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    color: var(--blanc);
    font-weight: bold;
}

.formulaire .pass li{
    color: red;
    font-style: italic;
}

.removealert{
    display: none;
}

                    /* NAVIGATION MENU */

nav{
    /* background-color: rgb(39, 39, 39); */
    background-color: var(--noir);
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

nav #nav-items{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}

nav #nav-items .nav-item a{
    color: var(--blanc);
}

/*Le menu burger est désactivé de base*/
.burger{
    display: none;
}


                        /* SHOW SESSION */

/* On récupère les données du module grâce à un dump dans TWIG sur index. A partir de là on recherche dans 
ce qu'il faut (exemple : data etc..)
On cache les select du formulaire ProgrammeType pour ne pas que le user puisse selectionner un autre module
que celui affiché grâce à la boucle (id du select trouvé grâce à l'inspecteur)  */
#programme_module{
    display: none;
}

.recap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(239, 239, 239, 0.5);
    width: 400px;
    height: 200px;
    padding: 10px;
    border-radius: 4px;
}

#duree{
    width: 20%;
}

#action{
    width: 20%;
}

#programme_duree{
    padding-left: 5px;
    border-radius: 5px;
    border: none;
    height: 1.2rem;
}

#programme_submit{
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#inscription,
#inscription a,
#connexion,
#connexion a{
    color: var(--blanc);
    font-style: oblique;
}

#inscription a,
#connexion a{
    border-bottom: 1px solid orange;    
}

#inscription,
#connexion{
    font-size: 1.5rem;
}

                        /*********** SHOW FORMATION ***************/
#ajoutSession{
    text-align: center;
    padding-bottom: 5px;
    font-size: 1.3rem;
    font-style: italic;
    color: var(--blanc);
}



                        /*********** HOVER  **********/

nav #nav-items .nav-item a:hover{
    color: var(--bleu);
}

table tr:hover{
    background-color: rgb(95, 95, 95);
}

.table-actions i:hover{
    color: rgb(254, 167, 27);
}

.form-element button:hover{
    background-color: var(--bleu);
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
    transform: scale(1.1);
}

#inscription a:hover,
#connexion a:hover{
    color: orange;
}



                                    /**** RESPONSIVE ***/

/****** Tablette *********/

@media screen and (min-width: 601px) and (max-width: 1024px) {


    nav ul li a,
    nav ul li a i{
        font-size: 1.5rem;
    }

    .retour-link{
        font-size: 2rem;
    }

    h1{
        padding-bottom: 50px;
    }    

    h2{
        font-size: 1.8rem;
    }

    h3{
        font-size: 1.4rem;
    }

    #hello{
        font-size: 1.3rem;
    }

    .add-link{
        font-size: 1.3rem;
        font-style: italic;
    }

    table{
        width: 92vw;
        min-height: 100px;
    }

    table th{
        font-size: 1rem;
    }

    table{
        background-color: rgb(255, 255, 255, 0);
    }

    table tbody{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    table th {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
        border-bottom: 1px solid rgb(221, 221, 221, 0.5);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
        text-align: right;
        min-height: 65px;
      }

      table .session-title{
        font-size: 1.4rem;
      }
      
      table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.1rem;
      }

      table i{
        font-size: 1.4rem;
      }

      .table-actions{
        flex-direction: column;
        justify-content: space-between;
      }

      .table-actions .action-icons{
        display: flex;
        justify-content: space-between;
        width: 30%;
      }

      .no-data{
        font-size: 1.2rem;
      }

      .noDataLabel:first-child{
        font-weight: bold;
        text-shadow: 1px 1px 2px var(--noir);
      }

      .noDataLabel{
        text-align: center;
        font-size: 1.5rem;
      }

      #programme_duree{
        height: 2rem;
    }

    #programme_submit{
        padding: 10px;
        font-size: 1rem;
    }

      #duree {
        width: 100%;
      }

      #action{
        width: 100%;
      }

    .recap{
        width: 90vw;
        height: 300px;
    }

    .recap ul li{
        font-size: 1.4rem;
    }


            /****** FORMULAIRES ********/

    .formulaire .form-element div input,
    .formulaire .form-element div select,
    .formulaire #session_submit,
    .formulaire #stagiaire_form_submit,
    .formulaire #formateur_submit,
    .formulaire #categorie_submit{
        height: 40px;
        font-size: 1.3rem;
        padding: 0px 10px 0px 10px;
    }

    .form-element-ext ,
    .form-element {
          padding-left: 5px;
          width: 500px;
    }

    .formulaire-ext,
    .pass,
    .formulaire{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    .form-element-ext input,
    .form-element .pass input{
        width: 400px;
        height: 30px;
        border-radius: 5px;
        border: none;
        font-size: 2.3rem;
        padding: 3px 0px 3px 0px;
    }

    .form-element-ext input,
    .form-element .pass input{
        padding-left: 5px;
    }

    .formulaire .form-element label
    {
        font-size: 1.6rem;
    }
      
    .formulaire{
        min-height: 20vh;
        width: 90vw;
    }

    .formulaire .form-element{
        font-size: 1.3rem;
    }

    .formulaire .form-element input{
        height: 30px;
        font-size: 1.2rem;
    }

    .formulaire .form-element button{
        width: 100px;
        font-size: 1.1rem;
    }

    /******* CIBLAGE FORMULAIRES DE LOGIN && REGISTER *******/   
    
    .formulaire-ext{
        min-height: 20vh;
        width: 60vw;
    }

    .formulaire .form-element-ext label,
     .pass div .required{
        font-size: 2rem;
    }
    
    .form-element-ext{
        gap: 5px;        
    }

    .form-element-ext button{
        padding: 10px;
        font-size: 1.2rem;
    }

    #inscription,
    #connexion,
    .pass{
        font-size: 1.6rem;
    }

    .formulaire-ext{
    min-height: 25vh;
    width: 80vw;
    }

    .form-element-ext{
    gap: 5px;
    }

      /* Cibler les élements du form register */
    .form-element-ext div ,
    .form-element div{
          width: 100%;
    }

    .form-element #registration_form_agreeTerms,
    .form-element #registration_form_pseudo,
    .form-element #registration_form_email,
    .form-element #registration_form_plainPassword_first,
    .form-element #registration_form_plainPassword_second{
        height: 30px;
    }    

    .form-element .pass{
        width: 100%;
        gap: 20px;    
    }    

    /* Eléments de login form */

    #inputEmail.form-control,
    #inputPassword.form-control{
        height: 2.5rem;
    }
      

}


/********* Mobile **********/

@media screen and (max-width: 600px) {

    header{
        position: relative;
    }

    nav, 
    .formulaire-ext,
    .pass
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #nav-items{
        position: absolute;
        transform: translateY(-250px);
        flex-direction: column;
        margin-top: 0;
        /* Pour que l'icône de la home ne soit pas collée à l'icône */
        padding-top: 60px;
        padding-bottom: 60px;
        top: 0;
        height: 0;
    }

    .retour-link{
        font-size: 2rem;
    }

    /* Menu burger */

    .burger {
        display: block;
        position: relative;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    /* .bar-burger correspond au span de .burger */
    .bar-burger {
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: var(--blanc);
        transition: all .5s ease-in-out;

    }

    .bar-burger::before,
    .bar-burger::after {
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--blanc);
        border-radius: 3px;
        transition: all .5s ease-in-out;
    }

    /*On indique à combien de pixels se trouvent les barres du dessous et du dessus, par rapport à la barre centrale*/
    .bar-burger::before {
        transform: translateY(-12px)
    }

    .bar-burger::after {
        transform: translateY(12px)
    }

    /* Afficher les éléments du menu grâce à .show-nav créée dans le code js */

    .show-nav #nav-items{
        background-color: var(--gris);
        width: 100vw;
        height: 100vh;
        /* On remet les éléments à leur place */
        transform: translateX(0);
        transition: 2s;
        font-size: 1.6rem;
    }

    .show-nav .burger{
        transition: 2s;
    }

    /* On veut afficher une croix quand le menu burger est ouvert (et ainsi enlever la barre du milieu)*/
    .show-nav .bar-burger {
        width: 0;
    }

    /*Ici, pour le before et after, on dit comment les barres du haut et du bas de l'icone du menu burger vont se comporter lorsque la class show-nav est activée (=quand on a cliqué pour ouvrir le menu)*/
    .show-nav .bar-burger::before {
        transform: rotate(45deg);
        background: black;
    }

    .show-nav .bar-burger::after {
        transform: rotate(-45deg);
        background: var(--noir);
    }

    h1{
        padding-bottom: 50px;
    }

    h2{
        text-align: center;
        padding: 15px 0px 15px 0px;
        color: white;
        text-shadow: 1px 1px 1px var(--noir);
        font-size: 1.6rem;
    }

    #hello{
        font-size: 1.3rem;
    }

    .add-link{
        font-size: 1.3rem;
        font-style: italic;
    }

    .formulaire-ext{
        min-height: 20vh;
        min-width: 50vw;
    }
    
    .form-element-ext{
        font-size: 1.6rem;
    }

    .form-element-ext input,
    .form-element .pass input{
        width: 400px;
        height: 2rem;
        border-radius: 5px;
        border: none;
        font-size: 1.3rem;
        padding: 3px 0px 3px 0px;
    }
    
     .pass{
        gap: 20px;
    }
    
    .form-element-ext button{
        padding: 10px;
        font-size: 1.2rem;
    }

    #inscription,
    #connexion,
    .pass{
        font-size: 1.5rem;
    }

    table{
        width: 92vw;
        min-height: 100px;
        font-size: 1.1rem;
        background-color: rgb(255, 255, 255, 0);
        text-align: center;
    }

    table tbody{
        display: flex;
        flex-direction: column;
    }

    table th {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }
      
      table tr {
        display: block;
        margin-bottom: .625em;
      }
      
      table td {
        border-bottom: 1px solid rgb(221, 221, 221, 0.5);
        display: block;
        font-size: 1.1rem;
        text-align: right;
      }

      table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.9rem;
        padding-right: 5px;
      }

      table i{
        font-size: 1.2rem;
      }

      .table-actions{
        flex-direction: column;
        justify-content: space-between;
      }

      .table-actions .action-icons{
        display: flex;
        justify-content: space-between;
        width: 30%;
      }

      table .session-title,
      table .formation-title,
      .no-data{
        font-size: 1.1rem;
      }

      .formation-title{
        font-size: 1.2rem;
        padding-left: 5px;
      }

      .noDataLabel{
        text-align: center;
      }

      .noDataLabel:first-child{
        font-size: 1.3rem;
        font-weight: bold;
        font-style: italic;
        color: rgb(207, 193, 161);
        text-shadow: 2px 2px 3px var(--noir);
      }

      #duree {
        width: 100%;
      }

      #action{
        width: 100%;
      }

      .form-element-ext{
        gap: 5px;
      }

      .form-element #registration_form_agreeTerms,
      .form-element #registration_form_pseudo,
      .form-element #registration_form_email,
      .form-element #registration_form_plainPassword_first,
      .form-element #registration_form_plainPassword_second{
        height: 25px;
      }

      .form-element div input,
      .form-element select,
      .form-element #formation_intitule{
        min-height: 30px;
        font-size: 1.1rem;        
        padding-right: 5px;
      }

      #formation_submit,
      #stagiaire_form_submit,
      #formateur_submit,
      #categorie_submit,
      #session_submit{
        padding: 5px;
        font-size: 1rem;
    }

    .formulaire .form-element label{
        font-size: 1.5rem;
      }

      .form-element-ext div,
      .form-element div {
        width: 280px;
      }

      .form-element-ext input,
      .form-element .pass input{
        padding-left: 5px;
        width: 100%;
      }

      .formulaire-ext{
        min-height: 20vh;
        width: 90vw;
      }

      .recap{
        width: 90vw;
        height: 200px;
        padding: 10px;
    }

    #ajoutSession{
        font-size: 1.2rem;
    }

}