                    /* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: white; */
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.container-page{
    padding-top: 8vh;
    min-height: 100vh;
    background-color: rgb(82, 88, 93);
}

h1{
    text-align: center;
    padding: 15px 0px 15px 0px;
}

table{
    background-color: gray;
    min-width: 80vw;
    min-height: 100px;
    color: white;
}

table th{
    height: 50px;
    border-bottom: 1px solid white;
}

table td{
    text-align: center;
    padding: 10px;
}

table th{
    background-color: rgb(53, 53, 53);
}

table tr:nth-child(even){
    background-color: rgb(71, 71, 71);
}

table tr:nth-child(odd){
    background-color: rgb(53, 53, 53);
}

table .complet{
    background-color: red;
}

table .ouvert{
    background-color: green;
}

.page-elements{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height: 70vh;
    padding-bottom: 50px;
}


                    /* FLASH MESSAGES */

.alert-success{
    background-color: green;
    position: absolute;
    z-index: 2;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    color: white;
    font-weight: bold;
}

.removealert{
    display: none;
}


                    /* NAVIGATION MENU */

nav{
    background-color: rgb(60, 60, 60);
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

nav #nav-items{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

nav #nav-items .nav-item a{
    color: white;
}


                        /* SHOW SESSION */

/* On récupère les données du module grâce à un dump dans TWIG sur index. A partir de là on recherche dans 
ce qu'il faut (exemple : data etc..)
On cache les select du formulaire ProgrammeType pour ne pas que le user puisse selectionner un autre module
que celui affiché grâce à la boucle (id du select trouvé grâce à l'inspecteur)  */
#programme_module{
    display: none;
}

                /*LOGIN*/

#login{
    height: 100vh;
    background-color: rgb(129, 144, 160);
}