                    /* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: white; */
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

h1{
    text-align: center;
    padding: 15px 0px 15px 0px;
    color: white;
    text-shadow: 2px 1px 2px black;
}

h2{
    text-align: center;
    padding: 15px 0px 15px 0px;
    color: rgb(142, 142, 142);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-size: 1.6rem;
}

#hello{
    font-size: 1.2rem;
    font-style: italic;
    color: rgb(157, 157, 157);
    font-weight: bold;
}


                /*************TABLE************/

table{
    background-color: gray;
    width: 80vw;
    min-height: 100px;
    color: white;
}

table th, table td{
    padding: 5px;
}

table th{
    height: 50px;
}

table td{
    text-align: center;
    padding: 10px;
}

table th{
    background-color: rgb(53, 53, 53);
    font-size: 1.2rem;
}

table tr:nth-child(even){
    background-color: rgb(71, 71, 71);
}

table tr:nth-child(odd){
    background-color: rgb(53, 53, 53);
}

table .complet{
    background-color: rgb(180, 6, 6);
}

table .ouvert{
    background-color: green;
}

            /*********** COMMON CLASSES ************/

.container-page{
    padding-top: 8vh;
    min-height: 100vh;
    background-color: rgb(84, 111, 133);
}

.page-elements{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    min-height: 70vh;
    padding-bottom: 50px;
}

.formation-title{
    color: rgb(213, 212, 212);
}

.session-title{
    color: rgb(58, 174, 168);
}

.table-actions{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.table-actions i{
    color: rgb(254, 167, 27);
}

.no-data{
    text-align: center;
}

.retour-link{
    text-align: center;
}

.formulaire{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid red; */
    min-height: 3vh;
    min-width: 30vw;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 5px;
}

.form-element{
    /* border: 2px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-element div input{
    width: 100%;
}


                    /* FLASH MESSAGES */

.alert-success{
    background-color: green;
    position: absolute;
    z-index: 2;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    color: white;
    font-weight: bold;
}

.removealert{
    display: none;
}


                    /* NAVIGATION MENU */

nav{
    background-color: rgb(60, 60, 60);
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

nav #nav-items{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

nav #nav-items .nav-item a{
    color: white;
}


                        /* SHOW SESSION */

/* On récupère les données du module grâce à un dump dans TWIG sur index. A partir de là on recherche dans 
ce qu'il faut (exemple : data etc..)
On cache les select du formulaire ProgrammeType pour ne pas que le user puisse selectionner un autre module
que celui affiché grâce à la boucle (id du select trouvé grâce à l'inspecteur)  */
#programme_module{
    display: none;
}

.recap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: rgb(239, 239, 239, 0.5);
    width: 400px;
    height: 200px;
    padding: 10px;
    border-radius: 4px;
}

                /*LOGIN*/

#login{
    height: 100vh;
    background-color: rgb(129, 144, 160);
}





                        /*********** HOVER  **********/

nav #nav-items .nav-item a:hover{
    color: gray;
}

table tr:hover{
    background-color: rgb(95, 95, 95);
}

.table-actions i:hover{
    color: rgb(177, 177, 177);
}