{% extends 'base.html.twig' %}

{% block title %} Ajout stagiaire{% endblock %}

{% block body %}


    {% if edit %}
        <h1> Editer le stagiaire </h1>
    {% else %}
        <h1> Ajouter un stagiaire </h1>
    {% endif %}


    {{ form(formAddStagiaire) }}


{% endblock %}