{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}

{% block body %}

    <h1>Liste des stagiaires</h1>

    <a href="{{ path('add_stagiaire') }}">Ajouter un stagiaire</a>

    {% for stagiaire in stagiaires %}
    <div>
        <p>{{ stagiaire }}</p>  
        {# On renvoie vers la page détail du stagiaire ciblé #}
        <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">Détails</a>  
        <a href="{{ path('edit_stagiaire', {'id': stagiaire.id}) }}">Edit</a>
    </div>
    {% endfor %}


{% endblock %}
