{% extends 'base.html.twig' %}

{% block title %}Stagiaires{% endblock %}

{% block body %}

    <h1>Liste des stagiaires</h1>

    {% for stagiaire in stagiaires %}
    <div>
        <p>{{ stagiaire }}</p>  
        <a href="{{ path('show_stagiaire', {'id': stagiaire.id}) }}">Détails</a>      
    </div>

    {% endfor %}


{% endblock %}
