{% extends 'base.html.twig' %}

{% block title %} Ajout session{% endblock %}

{% block body %}

    {% if edit %}
        <h1>Editer la session</h1>
    {% else %}
        <h1> Ajouter une session </h1>    
    {% endif %}


    {{ form(formAddSession) }}


{% endblock %}