{% extends 'base.html.twig' %}

{% block title %} Ajout stagiaire session{% endblock %}

{% block body %}

    <h1> Ajouter un stagiaire à une session </h1>

    {{ form(formAddStagiaire) }}


{% endblock %}