{% extends 'base.html.twig' %}

{% block title %} Ajout catégorie{% endblock %}

{% block body %}


    {% if edit %}
        <h1>Modifier la catégorie</h1>
    {% else %}
        <h1> Ajouter une catégorie </h1>  
    {% endif %}

    {{ form_start(formAddCategorie) }}
        {{ form_row(formAddCategorie.intitule) }}
        {{ form_row(formAddCategorie.submit) }}    
    {{ form_end(formAddCategorie) }}

{% endblock %}