{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <h1>Liste des catégories</h1>

    <a href="{{ path('add_categorie') }}">Ajouter une Catégorie</a>

    {% for categorie in listeCategories %}
    <div>
        <p>{{ categorie }}</p>  
    </div>
    {% endfor %}


{% endblock %}
