{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <div class="container-page">
        <h1>Liste des catégories</h1>

        <div class="page-elements">
            <a href="{{ path('add_categorie') }}">Ajouter une Catégorie</a>

            <table>
                <tr>
                    <th>Intitule</th>
                    <th>Actions</th>
                </tr>
                {% for categorie in listeCategories %}        
                <tr>
                    <td>{{ categorie }}</td>
                    <td>
                        <a href="{{ path('edit_categorie', {'id': categorie.id}) }}">Edit</a>
                        <a href="{{ path('remove_categorie', {'id': categorie.id}) }}">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}        
            </table>            
        </div>
    </div>

{% endblock %}
