{% extends 'base.html.twig' %}

{% block title %}Formateurs{% endblock %}

{% block body %}

    <div class="container-page">
    {% if app.user %}
        <h1>Liste des formateurs</h1>

        <div class="page-elements">
            <a href="{{ path('add_formateur') }}">Ajouter un formateur</a>

            <table>
                <tr>
                    <th>Nom / Pénom</th>
                    <th>Actions</th>
                </tr>
                {% for formateur in listeFormateurs %}
                <tr>
                    <td>{{ formateur }}</td>
                    <td>
                        <a href="{{ path('edit_formateur', {'id': formateur.id}) }}">Edit</a>                        
                        <a href="{{ path('remove_formateur', {'id': formateur.id}) }}">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </table>                  
        </div>
    {% else %}
        <p>Merci de bien vouloir vous connecter pour accéder au contenu</p>
    {% endif %}
    </div>



{% endblock %}
