{% extends 'base.html.twig' %}

{% block title %}Formateurs{% endblock %}

{% block body %}

    <h1>Liste des formateurs</h1>

    <a href="{{ path('add_formateur') }}">Ajouter un formateur</a>

    {% for formateur in listeFormateurs %}
    <div>
        <p>{{ formateur }}</p>  
    </div>
    {% endfor %}


{% endblock %}
